@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$gis-primary: #003078;
$gis-white: #ffffff;
$gis-green: #2bb673;
$gis-gray: #d5d5d5;

* {
  font-family: "Poppins" sans-serif !important;
}

.custom-accordion-container {
  .accordion-item {
    border-radius: 0 !important;

    .uploaded-image {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;

      &__wrapper {
        position: relative;
        width: 150px;
        height: 150px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        .uploaded-image__cancel {
          position: absolute;
          top: 3px;
          right: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.7);
        }
      }
    }

    .accordion-save__btn {
      border: none;
      padding: 7px 15px;
      color: $gis-white;
      background: $gis-green;
    }
  }

  .accordion-button {
    justify-content: space-between;
    background: $gis-primary;
    border-radius: 0 !important;
    color: $gis-white;

    &:focus {
      border-color: none;
      box-shadow: none;
      outline: none;
    }

    &::after {
      display: none;
    }
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

tr th:last-child,
tr td:last-child {
  text-align: end;
}

tr th:last-child {
  padding-right: 44px;
}

table {
  border-collapse: collapse;
  border-color: $gis-white;
}

thead tr th {
  background-color: $gis-gray !important;
}

tbody tr td {
  background-color: $gis-primary !important;
  color: $gis-white !important;
  border: 1px solid $gis-white;
  vertical-align: middle;
}

.text-blue {
  color: $gis-primary;
}

.fs-20 {
  font-size: 20px;
}

.kon {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 48, 120, 1) 0%,
      rgba(0, 50, 125, 1) 100%,
      rgba(0, 48, 120, 1) 100%,
      rgba(2, 0, 36, 1) 100%);
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  svg {
    font-size: 35px;
    color: $gis-white;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.5));
  }

  &__name {
    color: $gis-white;
    font-size: 18px;
    font-weight: 600px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    user-select: none;
  }

  .adminDashboardChart {
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
    width: 100%;
  }
}