@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
$gis-primary: #003078;
$gis-white: #ffffff;
$gis-hover-white: #f4f4f5;
$gis-body-bg: #eff1f3;
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: $gis-body-bg !important;
}
.text-main {
  color: $gis-primary;
}
.esri-view-height-small .esri-expand .esri-widget--panel,
.esri-view-height-small .esri-expand .esri-widget--panel-height-only,
.esri-view-height-small .esri-ui-corner .esri-component.esri-widget--panel,
.esri-view-height-small
  .esri-ui-corner
  .esri-component.esri-widget--panel-height-only {
  max-height: 170px;
}
.esri-popup__header,
.esri-popup__footer {
  background: #003078;
  color: white;
}
.esri-popup__header-container--button:hover {
  background-color: #003078;
}
.esri-popup__footer .esri-popup__button {
  color: white;
}
.esri-popup__button:hover .esri-icon-dock-right:before {
  color: #003078;
}
.esri-popup__button:hover .esri-icon-close:before {
  color: #003078;
}
.esri-popup__button:hover {
  color: #003078;
}
.esri-popup__content,
.esri-feature__content-element,
.esri-feature__content-element:last-child {
  margin: 0;
}
.esri-popup__header-title {
  color: white;
}
.esri-icon-dock-right:before,
.esri-icon-close:before {
  color: white;
}
.esri-popup__footer .kartateka .esri-feature__content-element {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.kartateka .esri-popup__main-container {
  width: 500px;
}
.esri-view .esri-basemap-gallery {
  width: 240px;
}
.gis-table__lable:not(:first-child) {
  min-width: 150px !important;
  text-align: center;
}
a {
  text-decoration: none !important;
}
ul {
  padding-left: 0 !important;
}
li {
  list-style: none;
}
// Esri Map style start
#mapView {
  width: 100%;
  height: 100%;
}
.esri-ui-top-right {
  right: 30px;
}
.esri-ui-top-left {
  left: 10px;
}
// Esri Map style end
.main_wrapper {
  padding-left: 260px;
  padding-right: 400px;
  height: 100vh;
}
.main_wrapper__without-rightSidebar {
  padding-left: 260px;
  padding-right: 0;
  height: 100vh;
}
.sidebar.active ~ .main_wrapper {
  padding-right: 0;
}
.gis-sidebar.gis-sidebar--mini ~ .main_wrapper {
  padding-left: 70px;
}
.gis-sidebar.gis-sidebar--mini ~ .main_wrapper__without-rightSidebar {
  padding-left: 70px;
}

// ************** End ****************
.kartateka .esri-feature-media__item-title {
  font-size: 30px;
  margin-bottom: 8px;
}
.esri-popup__main-container {
  max-height: 500px !important;
  width: 800px !important;
}
.esri-feature__content-node {
  flex-direction: revert;
}
.esri-feature__content-element {
  width: 50%;
}
.map-controllers {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 80%;
  width: 250px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: $gis-primary;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;

  &_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &_drawer {
    position: absolute;
    top: -15px;
    left: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    background: #003078;
    visibility: hidden;
  }
}
.map-btns {
  border: none;
  border-radius: 5px;
  background-color: $gis-white;
  padding: 10px 10px;
  font-size: 1.16rem;
  font-weight: 500;
  font-family: sans-serif;
  cursor: pointer;
  transition: color 0.3s ease-in;

  &:hover {
    background-color: $gis-hover-white;
  }
}
// chart style start
.chart-container {
  max-width: 400px;
  width: 100%;
  height: 300px;
}
.chart-container-lg {
  width: 100%;
  height: 100%;
}
.modal-content.gis-chart-lg {
  height: 500px !important;
}
.modal-dialog {
  max-width: 700px !important;
}
.cursor-pointer {
  cursor: pointer;
}
// chart style end

.gradient-custom-2 {
  background: $gis-primary;
}
.b-t-b-radius {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.h-screen {
  height: 100vh !important;
}
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background-color: #003078;
  border-radius: 15px;
}
.z-index--1 {
  z-index: -1 !important;
}
.h-200px {
  height: 200px !important;
}
.login_description {
  text-indent: 1rem;
}
.login_subname {
  font-size: 1.2rem;
}
